
body{
    
    background: (18, 22, 83);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.filme{
height: 300px;
padding: 100px;
}
    
.linha{  
display: flex;
align-items: center;
justify-content:space-around;
}
    

.filmes{
height: 300px;
padding: 100px;
}
h1{
    color: white;
}
.logo{
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    

}

#menu-h{
    list-style-type:none;
    padding: 0;
    background-color:black;

}
#menu-h li{
    display: inline;
}
#menu-h li a{
    color: white;
    text-decoration: none;
    display:inline-block;
    padding: 20px;
}